body {margin:0; padding:0;}  
canvas {display:block;}

div.container1{
  font-size: 2em;
  color: #6b6b6b;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  top: 30%;
  left: 40%;
  right:40%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
}
